{% load static %}

<div class="container">
  <div class="row" >
    <div class="col-sm">
      <img class="d-block mx-auto" src="{% static 'img/icaro/daimon.png' %}" alt="Logo Daimon" style="margin-top:20px;margin-bottom:20px">
    </div>
    <div class="col-sm">
      <img class="d-block mx-auto" src="{% static 'img/icaro/aneel.png' %}" alt="Logo Annel" style="margin-top:20px;margin-bottom:20px">
    </div>
    <div class="col-sm"> 
      <img class="d-block mx-auto" src="{% static 'img/icaro/centrum.png' %}" alt="Logo Centrum" style="margin-top:20px;margin-bottom:20px">
    </div>
  </div>
</div>
