<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Sistema de Supervisão para IoT">
<meta name="author" content="Daimon">
<meta name="keywords" content="Argonauta,IoT,LoRa,LoRaWAN">

<title>Ícaro</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'img/icaro/favicon.ico' %}" /> <!-- Internet Explorer -->
<link rel="icon" href="{% static 'img/icaro/favicon.ico' %}" type="image/x-icon" /> <!-- Outros Browsers -->

<style>
  .dropdown-toggle {
    color: dimgray;
    padding: .3rem;
    padding-bottom: 0;
  }
  .dropdown-toggle:hover {
    color: black;
  }
  .dropdown-item {
    color: dodgerblue;
    padding-left: 1rem;
  }
  .dropdown-item:hover {
    border-radius: 7px;
    background: #b9bbbe;
    color: black;
  }
  .navtop-link:hover {
    border-radius: 7px;
    background-color:#FDB813;
    color: white;
  }
  .navbar-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #app-buttons-div{
    margin-left: 5em;
    margin-right: 5em;
    padding:5em
  }
  #app-buttons-div button{
    border:1px solid #E0EBF7;
    width: 200px;
    height: 200px;
  }
  #app-buttons-div button:hover{
    background-color: orange;
  }
  #app-buttons-div button p{
    font-size:20px;
    margin-top: 30px;
  }
  #app-buttons-div button img {
    margin-top: 10px;
    width: 60px;
    height: 60px;
  }
</style>
