<!--Sensor de temperatura e umidade-->
<div class="col-sm-3" style="padding:5px">
  <div class="border border-secondary" style="padding-top:15px;border-radius:15px" id="monitor_{{ device.0.eui }}">
    <h5>{{ device.0.desc }}</h5>
    <p></p>
    <p>Última leitura:</p>
    <p id="datetime_rx_{{ device.0.eui }}">-</p>
    <p id="temp_{{ device.0.eui }}">Temperatura: -</p>
    <p id="humid_{{ device.0.eui }}">Umidade: -</p>
    <p id="batl_{{ device.0.eui }}">Nível da bateria: -</p>
  </div>
</div>
