<nav class="navbar navbar-shadow col-md-2 d-none d-md-block bg-light" style="height=8%;position:fixed;overflow:auto" id="navMenu2">
  <ul class="nav navbar-nav">
    <div>
      <label class="control-label mr-sm-2" style="font-size:85%">Filtro de medições</label>
    </div>
    <form class="form-inline" method="post" action="{% url 'argos:whitetariff' meter.mac %}">
      {% csrf_token %}
      <div class="form-group" style="margin-top:1px">
        <label class="control-label mr-sm-2" style="font-size:70%">Data inicial:</label>
      </div>
      <div class="form-group" style="margin-top:3px">
        <input type="datetime-local" class="form-control mb-2 mr-sm-2" onChange="updateHiddenFields()" style="font-size:70%" size="10" id="datetime_ini" name="datetime_ini" min="{{ datetime_ini_min }}" max="{{ datetime_fin_max }}" value="{{ datetime_ini }}" />
      </div>
      <div class="form-group" style="margin-top:3px">
        <label class="control-label mr-sm-2" style="font-size:70%">Data final:</label>
      </div>
      <div class="form-group" style="margin-top:3px">
        <input type="datetime-local" class="form-control mb-2 mr-sm-2" onChange="updateHiddenFields()" style="font-size:70%" size="10" id="datetime_fin" name="datetime_fin" min="{{ datetime_ini_min }}" max="{{ datetime_fin_max }}" value="{{ datetime_fin }}" />
      </div>
      <!-- Campos ocultos, apenas para replicar os filtros específicos (dias da semana e estações do ano) -->
      <div>
        <input hidden class="form-check-input" type="checkbox" value="alldays" id="ckAlldays_hidden" name="ckWeekday_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="monday" id="ck2af_hidden" name="ckWeekday_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="tuesday" id="ck3af_hidden" name="ckWeekday_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="wednesday" id="ck4af_hidden" name="ckWeekday_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="thursday" id="ck5af_hidden" name="ckWeekday_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="friday" id="ck6af_hidden" name="ckWeekday_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="saturday" id="ckSab_hidden" name="ckWeekday_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="sunday" id="ckDom_hidden" name="ckWeekday_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="allSeasons_hidden" id="ckAllSeasons_hidden" name="ckSeason_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="summer" id="ckSummer_hidden" name="ckSeason_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="fall" id="ckFall_hidden" name="ckSeason_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="winter" id="ckWinter_hidden" name="ckSeason_hidden" checked>
        <input hidden class="form-check-input" type="checkbox" value="spring" id="ckSpring_hidden" name="ckSeason_hidden" checked>
      </div>
      <div class="form-group" style="margin-top:3px">
        <input type="submit" class="btn btn-secondary mb-2" style="font-size:70%" value="Atualizar" />
      </div>
    </form>
  </ul>
</nav>
<!-- Barra de pesquisa -->
<nav class="navbar navbar-shadow col-md-2 d-none d-md-block bg-light" style="position:fixed;margin-top:215px;padding:0" id="navSearch">
  <form class="navbar-form navbar-left">
    <div class="input-gro up">
      <input type="search" class="form-control" placeholder="Pesquisar..." oninput="filterContent()" id="inputSearch">
      <!--
      <div class="input-group-btn">
        <button class="btn btn-secondary" type="button" onclick="filterContent()" id="butSearch">
          <i class="fas fa-search"></i>
        </button>
      </div>
      -->
    </div>
  </form>
</nav>
<!-- Barra de navegação -->
<nav class="navbar navbar-shadow col-md-2 d-none d-md-block bg-light" style="height:78%;position:fixed;margin-top:260px;overflow:auto" id="navMenu">
  <ul class="nav navbar-nav">
    <li class="dropdown show">
      <!-- Lista de instalações -->
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Instalações</a>
      <div class="dropdown-menu show bg-light" style="border-style:none">
        {% for installation_meter in installations_meters %}
        <a class="dropdown-item" style="font-size:85%" href="{% url 'argos:whitetariff' installation_meter.meter.mac %}">{{ installation_meter.installation.code }} ({{ installation_meter.meter.desc }})</a>
        {% endfor %}
      </div>
    </li>
    <li class="dropdown show">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Medidores</a>
      <div class="dropdown-menu show bg-light" style="border-style:none">
        {% for meter in meters_list %}
        <a class="dropdown-item" style="font-size:85%" href="{% url 'argos:whitetariff' meter.mac %}">{{ meter.desc }}</a>
        {% endfor %}
      </div>
    </li>
  </ul>
</nav>