<!doctype html>
<html lang="pt-BR">
    <head>
        {% load static %}
        {% block header %}

        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/dc.css' %}">
    </head>
	<body>
        {% block fixedtopbar %}
		{% endblock %}

		<div class="container-fluid" style="margin-top:80px">
			{% if user.is_authenticated %}

            <div class="row">
				<!-- Barra de pesquisa e barra de navegação -->
				{% include "argos/whitetariffsidebar.html" %}

				<!-- Painel de navegação principal -->
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

					<!-- 1. Gráficos de consumo -->
					<div class="alert alert-dark font-weight-bold">Análises de Tarifa Branca - {{ meter.desc }}</div>

					<!-- 1.1 Abas dos gráficos de tarifa branca -->
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#chart1">Tarifas</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#chart2">Consumo medido</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#chart3">Consumo típico</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#table1">Comparação tarifas branca x tradicional</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#table2">Comparação com bandeiras tarifárias</a>
						</li>
					</ul>

					<!-- 1.2 Gráficos das diferentes abas dos gráficos de tarifa branca -->
					<div class="tab-content">
						<!-- 1.2.1 Gráfico de tarifas por patamar horário -->
						<div class="container tab-pane active" id="chart1">
							<div class="row">
								<div class="container" id="myChart1"></div>
							</div>
						</div>
						<!-- 1.2.2 Gráfico do consumo medido -->
						<div class="container tab-pane fade" id="chart2">
							<div class="row justify-content-center">
								<form class="form-inline" method="post" action="{% url 'argos:whitetariff' meter.mac %}">
									{% csrf_token %}
									<div class="form-group" style="margin-top:10px;align:center">
										<label class="control-label mr-sm-2" style="font-size:85%">Data:</label>
										<input type="date" class="form-control mb-2 mr-sm-2" style="font-size:70%" size="10" id="datetime_ref" name="datetime_ref" value="{{datetime_kwh_daily}}" min="{{ datetime_daily_ini_min }}" max="{{ datetime_daily_fin_max }}" />
										<input type="submit" class="btn btn-secondary mb-2" style="font-size:70%" value="Atualizar" />
									</div>
								</form>
							</div>
							<div class="row">
								<div class="container" id="myChart2"></div>
							</div>
						</div>
						<!-- 1.2.3 Gráfico do consumo típico -->
						<div class="container tab-pane fade" id="chart3">
							<form method="post" action="{% url 'argos:whitetariff' meter.mac %}">
								<div class="row">
									{% csrf_token %}
									<div class="col-sm-2" style="text-align:left;margin-top:10px">
										<label class="control-label mr-sm-2" style="font-size:70%">Filtro de dias da semana:</label>
									</div>
									<div class="col-sm-8" style="text-align:left;margin-top:10px">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateCheckboxesDays(this)" value="alldays" id="ckAlldays" name="ckWeekday" checked>
											<label class="form-check-label" for="ck2af" style="font-size:85%">Todos</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateSelectAllDays(this)" value="monday" id="ck2af" name="ckWeekday" checked>
											<label class="form-check-label" for="ck2af" style="font-size:85%">Segundas</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateSelectAllDays(this)" value="tuesday" id="ck3af" name="ckWeekday" checked>
											<label class="form-check-label" for="ck3af" style="font-size:85%">Terças</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateSelectAllDays(this)" value="wednesday" id="ck4af" name="ckWeekday" checked>
											<label class="form-check-label" for="ck4af" style="font-size:85%">Quartas</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateSelectAllDays(this)" value="thursday" id="ck5af" name="ckWeekday" checked>
											<label class="form-check-label" for="ck5af" style="font-size:85%">Quintas</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateSelectAllDays(this)" value="friday" id="ck6af" name="ckWeekday" checked>
											<label class="form-check-label" for="ck6af" style="font-size:85%">Sextas</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateSelectAllDays(this)" value="saturday" id="ckSab" name="ckWeekday" checked>
											<label class="form-check-label" for="ckSab" style="font-size:85%">Sábados</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateSelectAllDays(this)" value="sunday" id="ckDom" name="ckWeekday" checked>
											<label class="form-check-label" for="ckDom" style="font-size:85%">Domingos</label>
										</div>
									</div>
									<div class="col-sm-2" style="text-align:left;margin-top:5px">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-2" style="text-align:left">
										<label class="control-label mr-sm-2" style="font-size:70%">Filtro de estações do ano:</label>
									</div>
									<div class="col-sm-8" style="text-align:left">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateCheckboxesSeasons(this)" value="allSeasons" id="ckAllSeasons" name="ckSeason" checked>
											<label class="form-check-label" for="ckSummer" style="font-size:85%">Todos</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateSelectAllSeasons(this)" value="summer" id="ckSummer" name="ckSeason" checked>
											<label class="form-check-label" for="ckSummer" style="font-size:85%">Verão</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateSelectAllSeasons(this)" value="fall" id="ckFall" name="ckSeason" checked>
											<label class="form-check-label" for="ckFall" style="font-size:85%">Outono</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox"onClick="updateSelectAllSeasons(this)" value="winter" id="ckWinter" name="ckSeason" checked>
											<label class="form-check-label" for="ckWinter" style="font-size:85%">Inverno</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" onClick="updateSelectAllSeasons(this)" value="spring" id="ckSpring" name="ckSeason" checked>
											<label class="form-check-label" for="ckSpring" style="font-size:85%">Primavera</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-2" style="text-align:left">
										<label class="control-label mr-sm-2" style="font-size:70%">Aplicar os filtros acima</label>
									</div>
									<!--  Campos ocultos para replicarem os filtros de data inicial e data final -->
									<div>
										<label hidden for="datetime_ini_hidden">Inicial</label>
										<input type="hidden" id="datetime_ini_hidden" name="datetime_ini_hidden" value="{{ datetime_ini }}" />
										<label hidden for="datetime_fin_hidden">Final</label>
										<input type="hidden" id="datetime_fin_hidden" name="datetime_fin_hidden" value="{{ datetime_fin }}" />
									</div>
									<div class="col-sm-10" style="text-align:left">
										<input type="submit" class="btn btn-secondary mb-2" style="font-size:70%" value="Atualizar" />
									</div>
								</div>
							</form>
							<div class="row">
								<div class="container" id="myChart3"></div>
							</div>
						</div>
						<!-- 1.2.4 Comparação tarifa branca x tarifa tradicional -->
						<div class="container tab-pane fade" id="table1">
						  <div class="table-responsive">
							<table class="table table-striped table-sm" id="myTable1" style="font-size:75%">
							  <thead>
								<tr>
								  <th scope="col">Descrição</th>
								  <th scope="col">Consumo [kWh]</th>
								  <th scope="col">Tarifa [R$/kWh]</th>
								  <th scope="col">Valor energia</th>
								  <th scope="col">ICMS [%]</th>
								  <th scope="col">Valor ICMS</th>
								  <th scope="col">Total</th>
								</tr>
							  </thead>
							</table>
						  </div>
						  <div class="table-responsive">
							<table class="table table-striped table-sm" id="myTable2" style="font-size:75%">
							  <thead>
								<tr>
								  <th scope="col">Descrição</th>
								  <th scope="col">Consumo [kWh]</th>
								  <th scope="col">Tarifa [R$/kWh]</th>
								  <th scope="col">Valor energia</th>
								  <th scope="col">ICMS [%]</th>
								  <th scope="col">Valor ICMS</th>
								  <th scope="col">Total</th>
								</tr>
							  </thead>
							</table>
						  </div>
						  <div class="row">
					  		<div class="col-sm-5" style="text-align:center">
								<div class="row"><div class="col" style="text-align:center;font-size:120%">Consumo (kWh)</div></div>
								<div class="container" id="myChart4">
								</div>
							</div>
						  	<div class="col-sm-7">
								<div class="alert alert-secondary" role="alert" style="text-align:center;font-size:120%">Resultados da comparação</div>
								<div class="row" style="text-align:center">
									<div class="col-sm-6" style="text-align:center">
										<div class="row"><div class="col" style="text-align:center;font-size:170%">R$ {{ json_results_comparison.tot_white }}</div></div>
										<div class="row"><div class="col" style="text-align:center;font-size:75%">Total branca</div></div>
									</div>
									<div class="col-sm-6" style="text-align:center">
										<div class="row"><div class="col" style="text-align:center;font-size:170%">R$ {{ json_results_comparison.tot_conv }}</div></div>
										<div class="row"><div class="col" style="text-align:center;font-size:75%">Total convencional</div></div>
									</div>
								</div>
								<div class="row">
									<div class="col" style="text-align:center">
										<div class="row"><div class="col" style="text-align:center;font-size:170%;font-weight:bold">R$ {{ json_results_comparison.diff }}</div></div>
										<div class="row"><div class="col" style="text-align:center;font-size:75%">Diferença (convencional - branca)</div></div>
									</div>
								</div>
							</div>
						  </div>
						</div>
						<!-- 1.2.5 Comparação tarifas com bandeiras tarifárias -->
						<div class="container tab-pane fade" id="table2">
							<!-- <div class="row"><div class="col" style="text-align:center;font-size:120%">Bandeiras tarifárias</div></div> -->
							<div class="row" style="margin-top:10px;margin-bottom:10px">
								<!-- Coluna da bandeira Verde -->
								<div class="col" style="height:240px">
									<div class="row align-items-center" style="margin-left:1mm;margin-right:1mm;background-color:#006400;text-align:center;color:#FFFFFF;font-size:75%;font-weight:bold;height:25px;vertical-align:middle">
										<div class="col" style="text-align:center">Bandeira Verde</div>
									</div>
									<div class="table-responsive" style="margin-top:10px">
										<table class="table table-striped table-sm" id="myTable3" style="font-size:70%">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="table-responsive">
										<table class="table table-striped table-sm" id="myTable4" style="font-size:70%">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
								<!-- Coluna da bandeira Amarela -->
								<div class="col" style="border-left:solid 4px #DCDCDC;height:240px">
									<div class="row align-items-center" style="margin-left:1mm;margin-right:1mm;background-color:#FFFF33;text-align:center;color:#000000;font-size:75%;font-weight:bold;height:25px">
										<div class="col" style="text-align:center">Bandeira Amarela</div>
									</div>
									<div class="table-responsive" style="margin-top:10px">
										<table class="table table-striped table-sm" id="myTable5" style="font-size:70%">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="table-responsive">
										<table class="table table-striped table-sm" id="myTable6" style="font-size:70%">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
								<!-- Coluna da bandeira Vermelha I -->
								<div class="col" style="border-left:solid 4px #DCDCDC;height:240px">
									<div class="row align-items-center" style="margin-left:1mm;margin-right:1mm;background-color:#FF0000;text-align:center;color:#FFFFFF;font-size:75%;font-weight:bold;height:25px">
										<div class="col" style="text-align:center">Bandeira Vermelha I</div>
									</div>
									<div class="table-responsive" style="margin-top:10px">
										<table class="table table-striped table-sm" id="myTable7" style="font-size:70%">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="table-responsive">
										<table class="table table-striped table-sm" id="myTable8" style="font-size:70%">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
								<!-- Coluna da bandeira Vermelha II -->
								<div class="col" style="border-left:solid 4px #DCDCDC;height:240px">
									<div class="row align-items-center" style="margin-left:1mm;margin-right:1mm;background-color:#FF0000;text-align:center;color:#FFFFFF;font-size:75%;font-weight:bold;height:25px">
										<div class="col" style="text-align:center">Bandeira Vermelha II</div>
									</div>
									<div class="table-responsive" style="margin-top:10px">
										<table class="table table-striped table-sm" id="myTable9" style="font-size:70%">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="table-responsive">
										<table class="table table-striped table-sm" id="myTable10" style="font-size:70%">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
								<!-- Coluna da bandeira Escassez Hídrica -->
								<div class="col" style="border-left:solid 4px #DCDCDC;height:240px">
									<div class="row align-items-center" style="margin-left:1mm;margin-right:1mm;background-color:#4B0082;text-align:center;color:#FFFFFF;font-size:75%;font-weight:bold;height:25px">
										<div class="col" style="text-align:center">Bandeira Escassez Hídrica</div>
									</div>
									<div class="table-responsive" style="margin-top:10px">
										<table class="table table-striped table-sm" id="myTable11" style="font-size:70%">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="table-responsive">
										<table class="table table-striped table-sm" id="myTable12" style="font-size:70%">
											<thead>
												<tr>
													<th scope="col">Item</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>
							<div class="row" style="margin-top:10px">
								<div class="col">
									<div class="container" id="myChart5"></div>
								</div>
								<div class="col">
									<div class="container" id="myChart6"></div>
								</div>
								<div class="col">
									<div class="container" id="myChart7"></div>
								</div>
								<div class="col">
									<div class="container" id="myChart8"></div>
								</div>
								<div class="col">
									<div class="container" id="myChart9"></div>
								</div>
							</div>
						</div>
					</div>
					{% block fixedbottombar %}
					{% endblock %}
				</main>
			</div>
			{% else %}
			  <div class="alert alert-danger">Você não tem permissão para acessar esta página.</div>
			{% endif %}
		</div>

		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/crossfilter.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/d3.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/dc.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/argos.dc.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/argos.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/download.js' %}"></script>

		<script>
			//inicia dropdown
			initDropdown();
			/*
			O bloco a seguir monta o gráfico e a tabela.
			*/
			//formata configurações regionais (função original)
			formatLocale();

			//objetos json com dados
			var valuesJson_tariffs = {{ tariff_profile|safe }};
			var valuesJson_dailykw = {{ daily_kw|safe }};
			var valuesJson_typicalkw = {{ typical_kw|safe }};
			var valuesJson_daysFilter = {{ json_days_filter|safe }};
			var valuesJson_seasonsFilter = {{ json_seasons_filter|safe }};
			var valuesJson_white = {{ json_comparison_white|safe }};
			var valuesJson_coventional = {{ json_comparison_conventional|safe }};
			var valuesJson_comparison_kwh = {{ json_results_comparison_kwh|safe }};

			var valuesJson_comparison2_white = {{ json_comparison2_white|safe }};
			var valuesJson_comparison2_conv = {{ json_comparison2_conventional|safe }};
			var valuesJson_comparison2_barCharts = {{ json_comparison2_barCharts|safe }};

			//prepara dados
			//valuesJson.forEach(function(d) {
			//	d.datetime_rx = parseTime(d.datetime_rx);
			//});

			//preenche e exibe gráficos (ver argos.dc.js)
			dcChartTariffs(valuesJson_tariffs, "#myChart1");
			dcChartConsumptionDaily(valuesJson_dailykw, "#myChart2");
			dcChartTypicalConsumption(valuesJson_typicalkw, "#myChart3");

			//preenche tabelas (e gráficos) da comparação tarifa branca x convencional (sem bandeiras)
			dcChartTableComparison1(valuesJson_white, valuesJson_coventional, valuesJson_comparison_kwh, "#myTable1", "#myTable2", "#myChart4");

			//preenche tabelas (e gráficos) da comparação tarifa branca x convencional (com bandeiras)
			dcChartTableComparison2(valuesJson_comparison2_white, valuesJson_comparison2_conv, "#myTable3", "#myTable4", "#myTable5", "#myTable6", "#myTable7", "#myTable8", "#myTable9", "#myTable10", "#myTable11", "#myTable12");
			dcChartTableComparison2_barCharts(valuesJson_comparison2_barCharts, "#myChart5", "#myChart6", "#myChart7", "#myChart8", "#myChart9");

			getSetScrollTop();
			getSetActiveTab();
			//setFilterOnChange();

			setFiltersInitValue(valuesJson_daysFilter, valuesJson_seasonsFilter);
		</script>
	</body>
</html>
